.ThongTin, .donhangchitiet{
    margin: 30px 10px;
}

.title{
    font-weight: bold;
    font-size: 18px;
}

.form-check-label{
    font-weight: bold;
    font-size: 13px;
}

.form-control{
    background-color: #D9D9D9;
    border-radius: 10px;
}

.btn{
    width: 50%;
    height: 40px;
    border-radius: 10px;

  }

  a{
    color: #B4AC6C;
  }

  .cach{
    border-left: 1px solid #ccc; /* Đường kẻ dọc */
    height: 650px; /* Chiều cao của đường kẻ */
    margin-left: 20px;
  }

.donhangchitiet{
    height: 100%;
    background-color: #D9D9D9;
    border-radius: 20px;
}

table {
    width: 100%;
    border-collapse: collapse; /* Đảm bảo các đường viền không bị chồng lên nhau */
}
th, td {

    padding: 4px; /* Khoảng cách bên trong ô */
}
th {
    text-align: left; /* Căn trái cho tiêu đề cột */
    word-wrap: break-word; /* Đảm bảo văn bản sẽ xuống dòng khi quá dài */
}
td {
    text-align: center; /* Căn giữa nội dung của ô */
}



.hoadon th{
    text-align: left;
  }
  
  .hoadon td{
    text-align: right;
  }

  .noidung{
    padding: 30px;
  }

  