 .banner-img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Đảm bảo hình ảnh không bị méo */
      }

      .gioithieu {
        background-color: black; /* Nền đen */
        color: white; /* Chữ trắng */
      }
      .row {
        align-items: center; /* Căn giữa theo chiều dọc */
      }

      .accordion{
       margin-top: -815px;
      }
      .accordion-button{
        background-color: #d6d6d4;
      }
      .accordion-button:focus{
        box-shadow: none;
        border: 1px soid rgba(0, 0, 0, 0.1);
      }

      .accordion-button:not(.collapsed) {
        background: rgba(0, 0, 0, 0.1);
        color: black;
        box-shadow: none;
      }

      .accordion-item{
        border: none;
      }
      .dropdown{
        text-align: right; /* Căn toàn bộ khung dropdown về bên phải */
      }

      /* Đảm bảo rằng card chiếm toàn bộ chiều rộng của cột */
      .card {
    width: 100%;
    border: none;
      }

      .dropdown-toggle{
        background-color: white;
        color: black;
      }

      .dropdown-toggle:focus, .dropdown-toggle:focus {
        box-shadow: none; /* Loại bỏ hiệu ứng đổ bóng khi focus */
        background-color: white; /* Đảm bảo màu nền không thay đổi khi focus */
        color: black; /* Đảm bảo màu chữ không thay đổi khi focus */
      }

        /* thông tin */
        .Thongtin{
            background-color: #81A4B3;
          }
    
          .img-thongtin{
            width: 30px; /* Đặt chiều rộng cho hình ảnh */
                height: 30px; /* Đặt chiều cao cho hình ảnh */
                object-fit: contain; /* Giữ tỷ lệ khung hình và không cắt hình ảnh */
                display: block;
                margin: 0 auto; /* Căn giữa hình ảnh trong item */
          }
    
          .Thongtin p {
                margin-top: 2px; /* Khoảng cách âm phía trên */
                margin-bottom: 5px; /* Khoảng cách âm phía dưới */
                font-weight: bold; 
            }

            
  a{
    color: #B4AC6C;
  }


  .card:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px, -10px);
  }
     
