<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Trang chủ</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;700&display=swap" rel="stylesheet">

    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/bootstrap-icons.css" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton+SC&display=swap" rel="stylesheet">
    

</head>

<body>

    <main>
<!-- nav bar start -->
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="fontlogo" href="index.html" >
                <img src="/images/logo.png" alt="" width="100px">
                </a>


                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav align-items-lg-center ms-auto me-lg-5">
                    
                        <li class="nav-item">
                            <a class="nav-link  text-white" href="login.html">Đăng nhập</a>
                        </li>
                    </ul>

                    <a href="signup.html" class="btn custom-btn d-lg-block d-none">Đăng kí</a>
                </div>
            </div>
        </nav>
<!-- nav bar end -->
<!-- secttion  start-->
        <section class="hero-section" id="section_1">
            <div class="section-overlay"></div>

            <div class="container d-flex justify-content-center align-items-center">
                <div class="row">
                    <div class="col-lg-6 col-12 mb-4 mb-lg-0 d-flex align-items-center">
                        <div class="services-info">
                            <h2 class="text-white mb-4">Khám phá thế giới âm nhạc không giới hạn</h2>

                            <p class="text-white fontchu">Tại TuneBox, bạn có thể chia sẻ, khám phá và thưởng thức những bản nhạc yêu thích, cũng như tạo nên những playlist cá nhân theo sở thích.</p>

                         
                            <p class="text-white">   <a class="btn custom-btn smoothscroll" href="signup.html">Bắt đầu</a></p>

                     
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="about-text-wrap">
                            <img src="/images/casi.png" class="about-image img-fluid" style="width: 500px; margin-top: 150px;">

                        </div>
                    </div>
                </div>
            </div>

            <div class="video-wrap">
                <video autoplay="" loop="" muted="" class="custom-video" poster="/images/backg.png">
                    <!-- Nội dung trong video không nên chứa thẻ <img> -->
                    Your browser does not support the video tag.
                </video>
                
            </div>
        </section>

        <section class="about-section section-padding" id="section_2">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center" style="margin-top: 30px;">
                        <h2 class=" mb-4 fontchu">Sáng tạo và chia sẽ âm nhạc</h1>
                            <p class="fontchu ">Với cộng đồng đa dạng và tính năng tương tác phong phú, TuneBox mang đến cho bạn một trải nghiệm âm nhạc tuyệt vời và không gian để thể hiện cá tính âm nhạc của riêng bạn.</p>
                    </div>
            


                </div>

                <div class="row">
                   
            

                    <img src="/images/nen4.png" class="" style="width: 100%;">
                       

                </div>

            </div>
        </section>
        <section class="schedule-section section-padding" id="section_4">
            <div class="container">
                <div class="row">

                    <div class="col-12 text-center">
                        <h2 class="text-white mb-4">Âm nhạc đến với mọi người</h1>

                            <div class="table-responsive">
                                <img src="/images/nen3.png" class="about-image img-fluid" style="width: 100%;">

                            </div>
                    </div>
                </div>
            </div>
        </section>



     <!-- section end -->
        
    </main>

<!-- footer -->
    <footer class="site-footer" id="section_7">
        <div class="site-footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-12">
                        <a href=""><img src="/images/logoMautrang.png" alt="" width="200px"></a>
                        
                    </div>

                  
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12 mb-4 pb-2">
                   

                    <ul class="site-footer-links">
                        <li class="site-footer-link-item">
                            <a href="/index.html" class="site-footer-link fontchu">Trang chủ</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="" class="site-footer-link fontchu">Dịch vụ</a>
                        </li>
                        <li class="site-footer-link-item">
                            <a href="" class="site-footer-link fontchu">Tài nguyên</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="" class="site-footer-link fontchu">Góp ý</a>
                        </li>

                     
                        <li class="site-footer-link-item">
                            <a href="" class="site-footer-link fontchu">Giới thiệu</a>
                          
                        </li>


                     
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0" id="lienhe">
                    <h5 class="site-footer-title mb-3">Liên hệ với chúng tôi</h5>

                    <p class="text-white d-flex mb-1">
                        <a href="tel: 090-080-0760" class="site-footer-link">
                            Thông qua Email:
                        </a>
                    </p>

                    <p class="text-white d-flex">
                        <a href="mailto:hello@company.com" class="site-footer-link">
                            tunebox@contact.com
                        </a>
                    </p>
              
                </div>
               
            </div>
        </div>

    
    </footer>
    <!-- footer ebd -->
    <!-- JAVASCRIPT FILES -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.sticky.js"></script>
    <script src="/js/click-scroll.js"></script>
    <script src="/js/custom.js"></script>

</body>
<style>
    .iframe-container {
        position: relative;
        width: 100%;
        padding-bottom: 75%; /* 16:9 aspect ratio */
        height: 0;
        overflow: hidden;
    }

    .iframe-container iframe {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        border: 0;

    }

    @media (max-width: 768px) {
        .iframe-container {
            padding-bottom: 75%; /* Adjust aspect ratio for mobile */
        }
    }
</style>

</html>