<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Social Media Interface</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://unpkg.com/wavesurfer.js@7"></script>
  <script src="/js/mxh/profile.js"></script>
  <link rel="stylesheet" href="/css/mxh/style.css">
  <link rel="stylesheet" href="/css/mxh/post.css">
  <link rel="stylesheet" href="/css/mxh/modal-create-post.css">
  <link rel="stylesheet" href="/css/mxh/post.css" />
  <link rel="stylesheet" href="/css/mxh/comment.css">
  <link rel="stylesheet" href="/css/mxh/button.css">
  <link rel="stylesheet" href="/css/profile.css">

</head>
<body>
  <header class="row" style=" align-items: center;">
    <!-- Phần Bên phải header -->

    <div class="col" style="display: flex; align-items: center;">
      <!-- Logo header -->
       <button class="btn">
        <a href="/template/mangxahoi.html">
          <img src="/images/logo.png" alt="tunebox" width="150" style="margin-left: 50px; margin-right: 50px;">
        </a>
       </button>
      <!-- kết thúc Logo header -->

      <!-- Trang Feed -->
       <button class="btn">
        <a href="/template/mangxahoi.html" class="text-decoration-none text-black">
          <span style="margin-right: 30px;" class="text-decoration-none"> 
            <img src="/images/home.png" style="margin-bottom: 15px; margin-right: 15px;"> 
            <b>Feed</b> 
          </span>
         </a>
       </button>
      <!--kết thúc Trang Feed -->

      <!-- Trang Shops -->
       <button class="btn">
        <a href="/template/TrangBanhHang.html" class="text-decoration-none text-black">
          <span> 
            <img src="/images/speaker.png" style="margin-bottom: 15px; margin-right: 15px;" width="35px"> 
            <b>Shops</b> 
          </span>
        </a>
       </button>
      <!--Kết thúc Trang Shops -->
    </div>
    <!--kết thúc Phần Bên phải header -->

    <!-- Phần Bên Trái header -->
    <div class="col text-end" style="align-items: center;">
      <!-- Phần Thông báo -->
      <span>
        <img src="/images/notification.png" style="margin-bottom: 15px; margin-right: 30px;">
      </span>
      <!--kết thúc Phần thông báo -->
      
      <!-- Phần tin nhẵn-->
      <span>
        <img src="/images/conversation.png" style="margin-bottom: 15px; margin-right: 30px;">
      </span>
      <!--kết thúc Phần tin nhẵn-->

      <!-- Phần Prime-->
      <button type="button" style="margin-bottom: 15px; margin-right: 20px;" class="btn btn-warning "><span><b>Get</b></span> <img src="/images/crown.png" width="32px" height="32px" style="margin-left: 10px;"></button>
      <!--kết thúc Phần Prime-->

      <!-- Phần Avatar tiến tới trang profile-->
       <button class="btn">
        <a href="/template/profile_User.html">
          <img src="/images/avt.jpg" class="avatar_small" style="width: 50px; height: 50px; margin-bottom: 15px; margin-right: 30px;" alt="Avatar" />
         </a>
       </button>
      <!--kết thúc Phần Avatar tiến tới trang profile-->

      <!-- Phần giỏ hàng-->
       <button class="btn">
        <a href="/template/gioHang.html">
          <span>
            <img src="/images/shopping-bag.png" style="margin-bottom: 15px; margin-right: 30px;">
          </span>
        </a>
       </button>

       <!--kết thúc Phần giỏ hàng-->
      
        <!-- Phần tạo track-->
      <button type="button" style="margin-bottom: 15px; margin-right: 10px;" class="btn btn-danger"> <img src="/images/plus-white.png" width="20px" height="20px" style="margin-right: 10px; margin-bottom: 3px;"> <b>Create</b> </button>
      <!--kết thúc Phần tạo track-->
    </div>
  </header>
  <div class="container-fluid">
    <div class="row">
      <!-- Left Sidebar -->
        <div class="col-3 sidebar bg-light p-4">
            <ul class="list-unstyled">
            <li class="left mb-4">
                <a href="#" class="d-flex align-items-center " style="text-align: center;">
                <img src="/images/web-content.png" alt="" width="20" class="me-2">
                <span >Bản tin</span>
                </a>
            </li>
            <li class="left mb-4">
                <a href="#" class="d-flex align-items-center">
                    <img src="/images/followers.png" alt="" width="20" class="me-2">
                <span>Đang theo dõi</span>
                </a>
            </li>

            <hr>
            <li class="left mb-4">
                <a href="#" class="d-flex align-items-center">
                    <img src="/images/feedback.png" alt="" width="20" class="me-2">
                <span>Bài viết đã thích</span>
                </a>
            </li>
            <li class="left mb-4">
                <a href="#" class="d-flex align-items-center">
                    <img src="/images/music.png" alt="" width="20" class="me-2">
                <span>Albums đã thích</span>
                </a>
            </li>
            <li class="left mb-4">
                <a href="#" class="d-flex align-items-center">
                    <img src="/images/playlist.png" alt="" width="20" class="me-2">
                <span>Playlist đã thích</span>
                </a>
            </li>
            </ul>
        </div>
      
      
      
      <!-- Main Content -->
      <div class="col-6 content p-4">
   

        <!-- Post  -->
        <div>
          <div class="post">
            <div class="container mt-2 mb-5">
              <div class="row align-items-center">
                  <div class="col-auto post-header">  
                      <img src="/images/ava.jpg" class="avatar_small" />
                  </div>
                  <div class="col">
                      <button id="create-post-btn" type="button" class="btn text-start" style="background-color: rgba(64, 102, 128, 0.078); width: 85%; height: 50px;">Ban dang nghi gi vay?</button>
                  </div>
              </div>
          </div>
          <div id="post-modal" class="modal-overlay">
              <div class="modal-content">
                  <div>
                    <div class="post-header">
                      <img src="/images/ava.jpg" class="avatar_small" alt="Avatar" />
                      <div>
                        <div class="name">Phạm Xuân Trường</div>
                        <div class="time">Posting to Feed</div>
                      </div>
                      <button id="close-modal" type="button" class="btn btn-close">×</button>
                    </div>
                      <div class="col">
                          <textarea id="post-textarea" class="form-control" rows="3" placeholder="Write your post here..."></textarea>
                          <div class="row mt-3">
                            <div class="col text-start">
                              <button id="post-image" type="button" class="btn" style="background-color: rgba(64, 102, 128, 0.078);"><i class="bi bi-card-image"></i> Photo/video</button>
                            </div>
                            <div class="col text-end">
                              <button id="submit-post" type="button" class="btn btn-secondary">Post</button>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Post 1 -->
        <div class="post">
          <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center post-header ">
                <img src="/images/ava.jpg" class="" alt="Avatar" />
            <div>
                <div class="name" >Phạm Xuân Trường</div>
                <div class="title">Posting to Feed</div>
            </div>
          
          </div>
          
            <img src="images/plus.png" alt="" style="margin-left: 100px; width: 5%; height: 5%;">
          </div>
           <!-- Nội dung bài viết -->
           <div class="post-content">
            Xin chao moi nguoi da den voi trang cua minh hihi minh la Pham
            Xuan Truong day hihi
          </div>
          <!-- kết thúc nội dung bài viết -->
          <div class="my-3">
            <div class="hero" style="">
                <div class="music"  style="width: 100%;
                padding: 30px;
                box-sizing: border-box;
                background: #f0f3f5;
                display: flex;">
                    <img src="/images/ava.jpg" alt="" width="300px" >
                    <div class="info" style="  color: #212529;
                    margin-left: 30px;
                    flex: 1; ">
                        <h1>
                            Gọi đò ơi
                        </h1>
                        <p style="font-size: 20px;
                        margin: 10px 0 60px;">
                            Albums void 2
                        </p>
                        <div id="waveform">
                            <!-- the waveform will be rendered here -->
                            <div class="controls" style="    margin-top: 40px;
                            display: flex;
                            align-items: center;">
                                <img style="    width:20px ;
                                margin-right: 20px ;
                                cursor: pointer;" src="/images/play (1).png" alt="" id="playBtn">
                                <img style="    width:20px ;
                                margin-right: 20px ;
                                cursor: pointer;" src="/images/pause.png" alt="" id="stopBtn">
                               
                            </div>
                          </div>
                    </div>
                </div>
            </div>
            <script type="module">
                import WaveSurfer from 'https://cdn.jsdelivr.net/npm/wavesurfer.js@7/dist/wavesurfer.esm.js'
                
                const wavesurfer = WaveSurfer.create({
                  container: '#waveform',
                  waveColor: '#4F4A85',
                  progressColor: '#383351',
                  url: '/audio/tao.mp3',
                })
                
                wavesurfer.on('interaction', () => {
                  wavesurfer.play()
                })
                </script>
          </div>
           <!-- 2 nút tương tác -->
           <div class="mt-3">
                
            <!-- nút tim bài viết -->
            <button type="button" class="btn ">
              <img src="/images/image.png" class="btn-icon" alt="Heart" />
              <span>Like</span>
            </button>

            <!-- nút share bài viết -->
            <button type="button" class="btn ">
              <img src="/images/share.png" class="btn-icon" alt="Share" />
              <span>Share</span>
            </button>

          </div>
          <!-- Kết thúc 2 nút -->
          <!-- Phần comment bài viết -->
          <div class="comment-section mt-4">
            <textarea class="comment-input" style="resize: none;" rows="3" placeholder="Write a comment..."></textarea>
            <div class="row">
              <div class=" col text-start"> 
                <a href="#" class="text-black text-decoration-none">View Comment</a>
              </div>
              <div class=" col text-end">
                <span>1 Comment</span>
              </div>
            </div>
            <div class="comment mt-2">
              <img src="/images/ava.jpg" alt="Commenter">
              <div class="comment-content">
                <div class="comment-author">Huynh Trong Phu</div>
                <div class="comment-time">12:00 AM, 8 Sep 2024</div>
                <p>Chao em nhe nguoi dep!</p>
              </div>
            </div>
        </div>
        
          
        </div>
        <!-- post 2 -->

        <div class="post mt-5">
          <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center post-header ">
                <img src="/images/ava.jpg" class="" alt="Avatar" />
            <div>
                <div class="name" >Phạm Xuân Trường</div>
                <div class="title">Posting to Feed</div>
            </div>
          
          </div>
            <img src="images/plus.png" alt="" style="margin-left: 100px; width: 5%; height: 5%;">
          </div>
           <!-- Nội dung bài viết -->
           <div class="post-content">
            Xin chao moi nguoi da den voi trang cua minh hihi minh la Pham
            Xuan Truong day hihi
          </div>
          <!-- kết thúc nội dung bài viết -->
          <div class="audio-player my-3">
            <audio controls>
              <source src="audio-file.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
          </div>
           <!-- 2 nút tương tác -->
           <div class="mt-3">
                
            <!-- nút tim bài viết -->
            <button type="button" class="btn ">
              <img src="/images/image.png" class="btn-icon" alt="Heart" />
              <span>Like</span>
            </button>

            <!-- nút share bài viết -->
            <button type="button" class="btn ">
              <img src="/images/share.png" class="btn-icon" alt="Share" />
              <span>Share</span>
            </button>

          </div>
          <!-- Kết thúc 2 nút -->
          <!-- Phần comment bài viết -->
          <div class="comment-section mt-4">
            <textarea class="comment-input" style="resize: none;" rows="3" placeholder="Write a comment..."></textarea>
            <div class="row">
              <div class=" col text-start"> 
                <a href="#" class="text-black text-decoration-none">View Comment</a>
              </div>
              <div class=" col text-end">
                <span>1 Comment</span>
              </div>
            </div>
            <div class="comment mt-2">
              <img src="/images/ava.jpg" alt="Commenter">
              <div class="comment-content">
                <div class="comment-author">Huynh Trong Phu</div>
                <div class="comment-time">12:00 AM, 8 Sep 2024</div>
                <p>Chao em nhe nguoi dep!</p>
              </div>
            </div>
        </div>
        
          
        </div>
        <!-- end post2 -->
      </div>
      
      <!-- Right Sidebar -->
      <div class="col-3 sidebar bg-light p-4">
        <ul class="list-unstyled">
          <h6>Gợi ý theo dõi</h6>
          
          <li class=" mb-4">
            <a href="#" class="" style="margin-left: 30px;">
              <div class="d-flex align-items-center post-header " style="margin-left: 25px;">
                    <img src="/images/ava.jpg" class="" alt="Avatar" />
                <div>
                    <div class="name" >Phạm Xuân Trường</div>
                    <div class="title">Posting to Feed</div>
                </div>
                <img src="images/plus.png" alt="" style="margin-left: 100px; width: 10%; height: 10%;">
              </div>
            </a>
          </li>
          
          <li class=" mb-4">
            <a href="#" class="" style="margin-left: 30px;">
              <div class="d-flex align-items-center post-header " style="margin-left: 25px;">
                    <img src="/images/ava.jpg" class="" alt="Avatar" />
                <div>
                    <div class="name" >Phạm Xuân Trường</div>
                    <div class="title">Posting to Feed</div>
                </div>
                <img src="images/plus.png" alt="" style="margin-left: 100px; width: 10%; height: 10%;">
              </div>
            </a>
          </li>
          
          <li class=" mb-4">
            <a href="#" class="" style="margin-left: 30px;">
              <div class="d-flex align-items-center post-header " style="margin-left: 25px;">
                    <img src="/images/ava.jpg" class="" alt="Avatar" />
                <div>
                    <div class="name" >Phạm Xuân Trường</div>
                    <div class="title">Posting to Feed</div>
                </div>
                <img src="images/plus.png" alt="" style="margin-left: 100px; width: 10%; height: 10%;">
              </div>
            </a>
          </li>

          <li class=" mb-4">
            <a href="#" class="" style="margin-left: 30px;">
              <div class="d-flex align-items-center post-header " style="margin-left: 25px;">
                    <img src="/images/ava.jpg" class="" alt="Avatar" />
                <div>
                    <div class="name" >Phạm Xuân Trường</div>
                    <div class="title">Posting to Feed</div>
                </div>
                <img src="/images/plus.png" alt="" style="margin-left: 100px; width: 10%; height: 10%;">
              </div>
            </a>
          </li>

      
   
        </ul>
      
        <div class="advertisement mt-5">
          <a href="">  <img src="/images/bannerpre.png" alt="Banner quảng cáo" class="img-fluid" width="80%" style="margin-left: 30px;"></a>
        
        </div>
      </div>
      
     
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
